<section class="section">
    <div class="container">
        <div class="title-h2 font-medium spacing-4 tac ls08 lh12">Смарт Займ — быстро,<br class="d-none d-md-inline"> просто, безопасно</div>
        <div class="text spacing-0 tac">Один из самых простых займов, которые вы когда-либо получали</div>

        <div class="row row-gap-24 spacing-0">
            <div class="col-md-6 col-xl-8">
                <div class="advantage advantage-1 card">
                    <div class="advantage__info">
                        <div class="title-h3 font-medium ls04 lh12 spacing-4">Все оформление<br> онлайн. Быстро.</div>
                        <div class="color-dark-700 lh12">Оплачивайте онлайн не только проценты по займу, но и основную сумму долга без дополнительного посещения офиса.</div>
                    </div>
                    <img class="advantage__picture" src="{{root}}assets/img/advantage-1-2.png" alt="advantage-1">
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="advantage advantage--small advantage-2 card">
                    <div class="advantage__info justify-content-start">
                        <svg width="185" height="46" class="spacing-5">
                            <use xlink:href="#bank-russia"></use>
                        </svg>
                        <div class="title-h5 font-medium ls04 lh12 spacing-4">Прозрачные условия.<br> Входим в реестр ЦБ РФ.</div>
                        <div class="color-dark-700 lh12">Мы состоим в государственном реестре МФО и соблюдаем Федеральный закон № 353, который защищает интересы и права заёмщиков.</div>
                    </div>
                    <img class="advantage__picture" src="{{root}}assets/img/advantage-2.png" alt="advantage-2">
                </div>
            </div>
            <div class="col-md-6">
                <div class="advantage advantage-3 card">
                    <div class="advantage__info">
                        <div class="title-h5 font-medium ls04 lh12 spacing-4">Сумма займа до 80%<br class="d-none d-sm-inline"> от стоимости залога</div>
                        <div class="color-dark-700 lh12">Сумма займа - до 1 000 000 руб. (до 5 000 000 руб. для юр. лиц).</div>
                    </div>
                    <img class="advantage__picture" src="{{root}}assets/img/advantage-3.jpg" alt="advantage-3">
                    <svg class="advantage-blur" width="343" height="420">
                        <use xlink:href="#advantage-blur"></use>
                    </svg>
                </div>
            </div>
            <div class="col-md-6">
                <div class="advantage advantage-4 card">
                    <div class="advantage__info">
                        <div class="title-h5 font-medium ls04 lh12 spacing-4">Авто и ПТС <br> остаются у Вас</div>
                        <div class="color-dark-700 lh12">Автомобиль остаётся у владельца, не&nbsp;забираем и не&nbsp;ставим отметок в ПТС.</div>
                    </div>
                    <svg class="advantage__picture">
                        <use xlink:href="#zipper"></use>
                    </svg>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="advantage advantage--small advantage-5 card">
                    <div class="advantage__info justify-content-start h-auto">
                        <div class="title-h5 font-medium ls04 lh12 spacing-4">Лояльны к кредитной истории</div>
                        <div class="color-dark-700 lh12">Мы лояльны к любой кредитной истории. Наша гарантия — Ваш объект залога.</div>
                    </div>
                    <img class="advantage__picture img-responsive" src="{{root}}assets/img/advantage-5.png" alt="advantage-5">
                </div>
            </div>
            <div class="col-md-6 col-xl-8">
                <div class="advantage advantage--small advantage-6 card">
                    <div class="advantage__info">
                        <div class="title-h3 font-medium ls04 lh12 spacing-4">Нет навязанных страховок и&nbsp;комиссий</div>
                        <div class="color-dark-700 lh12">Никаких обязательных страховок <br>
                            и&nbsp;комиссий за оформление займа.</div>
                    </div>
                    <img class="advantage__picture" src="{{root}}assets/img/advantage-6.jpg" alt="advantage-6">

                    <svg class="advantage-blur" width="343" height="420">
                        <use xlink:href="#advantage-blur"></use>
                    </svg>
                </div>
            </div>
        </div>

        <div class="tac text spacing-3">
            Мы ежедневно одобряем 90% заявок. Оформление займет<br class="d-none d-md-inline"> не более получаса, а деньги вы получите уже сегодня.
        </div>
        <div class="d-flex justify-content-center gap-8 flex-column flex-md-row">
            <button class="button button-primary w-xs-100">Оставить заявку</button>
            <a href="#" class="button button-secondary w-xs-100">Узнать больше о компании</a>
        </div>
    </div>
</section>