<div class="col-lg-6 offset-lg-1 d-none d-lg-block">
    <div class="welcome-description__wrapper">
        <div class="welcome-description">
            <div class="text5 welcome-substr">Все оформление онлайн</div>
            <div class="title-h3 ls06 font-medium lh12">
                Смарт Займ — быстро, просто, безопасно

            </div>
            <div class="text">Один из самых простых займов,<br class="d-none d-lg-inline"> который Вы когда-либо получали</div>
        </div>
    </div>
</div>