<section class="banner__wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="banner">
                    <div class="row align-items-lg-center">
                        <div class="col-lg-8">
                            <div class="banner__title">Откройте для себя удобство и&nbsp;преимущества Смарт Займ</div>
                        </div>
                        <div class="col-lg-4">
                            <div class="banner__button-wrapper">
                                <svg class="banner__picture">
                                    <use xlink:href="#zipper"></use>
                                </svg>
                                <button class="button button-primary banner__button">Подать заявку</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>