<div class="cabinet-nav">
    <div class="cabinet-nav__in">
        <a href="credit-create-1.html" class="cabinet-nav__sublink">
            <svg width="24" height="24">
                <use xlink:href="#nav-plus"></use>
            </svg>
            <span>Новый займ</span>
        </a>
        <a class="cabinet-nav__sublink" data-src="#popup-payment-switch" data-fancybox>
            <svg width="24" height="24">
                <use xlink:href="#nav-payment"></use>
            </svg>
            <span>Внести платеж</span>
        </a>
        <a href="credits.html" class="cabinet-nav__link">
            <svg width="24" height="24">
                <use xlink:href="#terminal"></use>
            </svg>
            <span>Мои займы</span>
        </a>
        <a href="appeals.html" class="cabinet-nav__link cabinet-nav__link--active">
            <svg width="24" height="24">
                <use xlink:href="#clipboard"></use>
            </svg>
            <span>Мои обращения</span>
        </a>
    </div>
</div>