<footer class="cabinet-footer">
    <div class="cabinet-footer__container">
        <div class="cabinet-footer__in">
            <div class="cabinet-footer__nav">
                <a href="#" class="cabinet-footer__link text4">Внесение платежей</a>
                <a href="#" class="cabinet-footer__link text4">Просрочка платежей</a>
                <a href="#" class="cabinet-footer__link text4">Документы</a>
                <a href="#" class="cabinet-footer__link text4">Контакты</a>
            </div>
            <div class="text5">«К2КАПИТАЛ» 2024. Все права защищены.</div>
        </div>
    </div>
</footer>