<header class="cabinet-header">
    <div class="cabinet-header__container">
        <div class="profile-header__in">
            <div class="d-flex align-items-center">
                <button class="burger js-cabinet-menu-toggle">
                    <svg><use xlink:href="#burger"></use></svg>
                    <svg><use xlink:href="#cross-1"></use></svg>
                </button>
                <a href="home.html" class="auth-header__logo">
                    <svg width="174" height="48">
                        <use xlink:href="#logo"></use>
                    </svg>
                </a>
            </div>


            <div class="cabinet-header__info js-toggle-header-dropdown">
                <div class="cabinet-header__info-content">
                    <div class="cabinet-header__tel-wrapper">
                        <div class="cabinet-header__tel">
                            <div class="text4 font-medium">Алексей Константинов</div>
                            <span class="text5 color-dark-700">+7 992 564-00-11</span>
                        </div>
                    </div>

                    <div class="cabinet-header__photo">
                        АК
                    </div>
                </div>


                <div class="cabinet-header__dropdown">
                    <a href="my-profile.html" class="cabinet-header__dropdown-link">Профиль</a>
                    <a href="#" class="cabinet-header__dropdown-link">Выйти</a>
                </div>
            </div>
        </div>
    </div>
    <div class="cabinet-header__menu">
        <div class="container">
            <div class="cabinet-header__menu-in"></div>
        </div>
    </div>
</header>