<section class="section">
    <div class="container">
        <div class="title-h2 font-medium spacing-0 tac ls08 lh12">Калькулятор займа под ПТС</div>
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <div class="row row-gap-8">
                    <div class="col-md-6">
                        <div class="calc-range">
                            <div class="color-dark-600 mb-2 mb-lg-3">Сумма займа</div>
                            <div class="calc-range__top">
                                <span>0</span>
                                <div class="calc-range__value-wrapper">
                                    <input class="calc-range__value js-range-input-from" min="0" max="1000000" value="548 900">
                                    <span>₽</span>
                                </div>
                            </div>
                            <div class="form-field-slider d-flex w-100">
                                <span class="js-range-slider mdc-slider">
                                    <input class="mdc-slider__input js-range-slider__input-from" type="range" min="0" max="1000000" value="548900" step="10000" name="rangeStart" aria-label="range slider">
                                    <span class="mdc-slider__track">
                                        <span class="mdc-slider__track--inactive"></span>
                                        <span class="mdc-slider__track--active">
                                            <span class="mdc-slider__track--active_fill"></span>
                                        </span>
                                    </span>
                                    <span class="mdc-slider__thumb">
                                        <span class="mdc-slider__thumb-knob"></span>
                                    </span>
                                </span>
                            </div>
                            <div class="calc-range__legend color-dark-600 spacing-3">
                                <span>0</span>
                                <span>1 000 000 ₽</span>
                            </div>

                            <div class="color-dark-600 mb-2 mb-lg-3">Срок займа</div>
                            <div class="d-flex gap-8 spacing-3">
                                <label class="radio">
                                    <input type="radio" name="years">
                                    <span class="radio__text">
                                        <span>1 год</span>
                                    </span>
                                </label>
                                <label class="radio">
                                    <input type="radio" name="years" checked>
                                    <span class="radio__text">
                                        <span>2 года</span>
                                    </span>
                                </label>
                                <label class="radio">
                                    <input type="radio" name="years">
                                    <span class="radio__text">
                                        <span>3 года</span>
                                    </span>
                                </label>
                                <label class="radio">
                                    <input type="radio" name="years">
                                    <span class="radio__text">
                                        <span>4 года</span>
                                    </span>
                                </label>
                            </div>

                            <div class="color-dark-600 mb-2 mb-lg-3">Необходимые документы</div>
                            <div class="d-flex align-items-center gap-24">
                                <div class="calc-doc">
                                    <div class="calc-doc__icon">
                                        <svg width="24" height="24">
                                            <use xlink:href="#calc-doc-1"></use>
                                        </svg>
                                    </div>
                                    <span class="font-medium text5 lh12">Паспорт<br> гражданина РФ</span>
                                </div>
                                <div class="calc-doc">
                                    <div class="calc-doc__icon">
                                        <svg width="24" height="19">
                                            <use xlink:href="#calc-doc-2"></use>
                                        </svg>
                                    </div>
                                    <span class="font-medium text5 lh12">Паспорт и свидетельство<br> о регистрации ТС</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card--border calc-info">
                            <div class="spacing-4">
                                <div class="calc-info__row">
                                    <div>Ежемесячный платеж от</div>
                                    <div class="calc-info__price font-medium ls04 title-h6">
                                        <button class="calc-button">
                                            <svg>
                                                <use xlink:href="#minus"></use>
                                            </svg>
                                        </button>
                                        <span>24 489 ₽</span>
                                        <button class="calc-button">
                                            <svg>
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <div class="calc-info__row">
                                    <div>Месячная ставка</div>
                                    <div class="font-medium ls04 title-h6 tar">
                                        от 2,5%
                                    </div>
                                </div>
                                <div class="calc-info__row spacing">
                                    <div>Срок</div>
                                    <div class="font-medium ls04 title-h6 tar">
                                        6 месяцев
                                    </div>
                                </div>
                            </div>

                            <button class="button button-primary w-100 spacing-4">Перейти к подаче заявки</button>
                            <div class="text5 color-dark-500 lh11 tac">Расчет займа предварительный. Одобряем онлайн в течении часа. Можно закрыть досрочно, без штрафов и комиссий.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>