<div class="checkbox-group spacing-35">
    <div class="checkbox-group__top">
        <label class="checkbox">
            <input type="checkbox">
            <span class="checkbox__text">
                <svg><use xlink:href="#check"></use></svg>
                <span class="lh14">
                    Я соглашаюсь со всеми<br class="d-none d-lg-inline"> нижеуказанными пунктами
                </span>
            </span>
        </label>

        <button class="button button-fourthary button--square checkbox-group__button js-toggle-checkbox-group">
            <svg width="24" height="24"><use xlink:href="#chevron-down"></use></svg>
        </button>
    </div>
    <div class="checkbox-group__content">
        <div class="checkbox-group__content-list">
            <label class="checkbox text5">
                <input type="checkbox">
                <span class="checkbox__text">
                    <svg><use xlink:href="#check"></use></svg>
                    <span class="lh14">Я принимаю условия <a href="#" class="link-underline">Соглашения об использовании аналога собственноручной подписи</a> (далее - АСП),  а также поручаю ООО МКК «К2КАПИТАЛ» организовать подписание документов посредством АСП</span>
                </span>
            </label>
            <label class="checkbox text5">
                <input type="checkbox">
                <span class="checkbox__text">
                    <svg><use xlink:href="#check"></use></svg>
                    <span class="lh14">Я даю <a href="#" class="link-underline">согласие</a> на обработку и хранение моих персональных данных, в том числе автоматизированную обработку персональных данных</span>
                </span>
            </label>
            <label class="checkbox text5">
                <input type="checkbox">
                <span class="checkbox__text">
                    <svg><use xlink:href="#check"></use></svg>
                    <span class="lh14">Я даю <a href="#" class="link-underline">согласие</a> на получение рекламы</span>
                </span>
            </label>
            <label class="checkbox text5">
                <input type="checkbox">
                <span class="checkbox__text">
                    <svg><use xlink:href="#check"></use></svg>
                    <span class="lh14">Я подтверждаю, что в отношениях с ООО МКК «К2КАПИТАЛ» действую сознательно , своей волей и в своих интересах, мои действия не контролируются иными третьими лицами, самостоятельно представляю свои интересы, также подтверждаю что я не являюсь <a
                            href="#" class="link-underline">публичным должностным лицом или лицом, связанным с ним</a></span>
                </span>
            </label>
        </div>

    </div>

</div>