<div class="size24 font-medium ls08 lh12 spacing-35">Заявка на займ</div>
<div class="text font-medium ls08 lh12 spacing-4">1. Параметры займа</div>

<div class="profile-calc-range">

    {{> calc-range }}

</div>


<div class="color-dark-600 mb-2 mb-lg-3">
    <span>Тип платежей</span>
    <svg class="tooltip-link" aria-describedby="tooltip-type" width="20" height="20">
        <use xlink:href="#info"></use>
    </svg>
    <div id="tooltip-type" class="mdc-tooltip mdc-tooltip-1" aria-hidden="true" tabindex="-1" role="dialog">
        <div class="mdc-tooltip__surface mdc-tooltip__surface-animation">
            Определение аннитетных и простых платежей.
        </div>
    </div>
</div>

<div class="d-flex flex-column align-items-start gap-24 flex-md-row align-items-md-center spacing-35">
    <label class="common-radio w-auto">
        <input type="radio" name="payment-type" checked>
        <span class="common-radio__in">
            <span class="common-radio__check"></span>
            <span class="common-radio__text">
                <span class="font-regular">Простые</span>
            </span>
        </span>
    </label>
    <label class="common-radio w-auto">
        <input type="radio" name="payment-type">
        <span class="common-radio__in">
            <span class="common-radio__check"></span>
            <span class="common-radio__text">
                <span class="font-regular">Аннуитетные</span>
            </span>
        </span>
    </label>
</div>

<div class="select__wrapper select__wrapper--common spacing-35">
    <select id="credit-region" class="js-common-select common-select" data-placeholder="Регион получения денег *">
        <option></option>
        <option value="1">Самара</option>
        <option value="2">Москва</option>
    </select>
    <label for="credit-region" class="select__wrapper--common__label">Регион получения денег *</label>
</div>

<div class="spacing-3 credit-price__wrapper">
    <div class="credit-price">
        <div class="color-dark-700">Ежемесячный платеж</div>
        <div class="text font-medium">48 900 ₽</div>
    </div>
    <div class="credit-price">
        <div class="color-dark-700">Сумма к погашению</div>
        <div class="text font-medium">590 900 ₽</div>
    </div>
</div>


<div class="text font-medium ls08 lh12 spacing-4">2. Способ получения денег</div>

<div class="credit-payment mb-2">
    <input id="credit-payment-1" type="radio" name="credit-payment" value="1">
    <div class="credit-payment__in">
        <label for="credit-payment-1" class="credit-payment__header">
            <span></span>
            <span>
                <span class="font-medium mb-1">**** **** **** **22</span>
                <span class="text5 color-dark-700">Действительна до: 12/25</span>
            </span>
            <svg width="66" height="20">
                <use xlink:href="#card-2-1"></use>
            </svg>
        </label>
    </div>
</div>

<div class="credit-payment mb-2">
    <input id="credit-payment-2" type="radio" name="credit-payment" value="2">
    <div class="credit-payment__in">
        <label for="credit-payment-2" class="credit-payment__header">
            <span></span>
            <span>
                <span class="font-medium mb-1">Наличные через систему Contact</span>
                <span class="text5 color-dark-700">В любом ближайшем отделении</span>
            </span>
            <svg width="88" height="25">
                <use xlink:href="#payment-4"></use>
            </svg>
        </label>
    </div>
</div>

<div class="credit-payment mb-2">
    <input id="credit-payment-3" type="radio" name="credit-payment" value="2" checked>
    <div class="credit-payment__in">
        <label for="credit-payment-3" class="credit-payment__header">
            <span></span>
            <span>
                <span class="font-medium mb-1">Через СБП</span>
                <span class="text5 color-dark-700">Сервис платежной системы ЦБ РФ</span>
            </span>
            <svg width="86" height="31">
                <use xlink:href="#card-5"></use>
            </svg>
        </label>
        <div class="credit-payment__info">
            <div class="color-dark-700 mb-2">Выберите банк:</div>
            <label class="form-field form-field_new--search">
                <input class="form-field__input form-field_new--search__input radius8" type="text" placeholder="Поиск">
                <svg class="form-field_new--search__icon" width="18" height="18">
                    <use xlink:href="#search"></use>
                </svg>
            </label>
            <div class="credit-payment__banks">
                <div class="credit-payment__banks-list">
                    <label class="common-radio">
                        <input type="radio">
                        <span class="common-radio__in">
                            <span class="common-radio__check"></span>
                            <span class="common-radio__text">
                                <svg><use xlink:href="#bank-1"></use></svg>
                                <span>Сбер</span>
                            </span>
                        </span>
                    </label>
                    <label class="common-radio">
                        <input type="radio">
                        <span class="common-radio__in">
                            <span class="common-radio__check"></span>
                            <span class="common-radio__text">
                                <svg><use xlink:href="#bank-2"></use></svg>
                                <span>Тинькофф Банк</span>
                            </span>
                        </span>
                    </label>
                    <label class="common-radio">
                        <input type="radio">
                        <span class="common-radio__in">
                            <span class="common-radio__check"></span>
                            <span class="common-radio__text">
                                <svg><use xlink:href="#bank-3"></use></svg>
                                <span>Банк ВТБ</span>
                            </span>
                        </span>
                    </label>
                    <label class="common-radio">
                        <input type="radio">
                        <span class="common-radio__in">
                            <span class="common-radio__check"></span>
                            <span class="common-radio__text">
                                <svg><use xlink:href="#bank-4"></use></svg>
                                <span>Альфа-Банк</span>
                            </span>
                        </span>
                    </label>
                    <label class="common-radio">
                        <input type="radio" checked>
                        <span class="common-radio__in">
                            <span class="common-radio__check"></span>
                            <span class="common-radio__text">
                                <svg><use xlink:href="#bank-5"></use></svg>
                                <span>Райффайзенбанк</span>
                            </span>
                        </span>
                    </label>
                    <label class="common-radio">
                        <input type="radio">
                        <span class="common-radio__in">
                            <span class="common-radio__check"></span>
                            <span class="common-radio__text">
                                <svg><use xlink:href="#bank-6"></use></svg>
                                <span>Газпромбанк</span>
                            </span>
                        </span>
                    </label>
                    <label class="common-radio">
                        <input type="radio">
                        <span class="common-radio__in">
                            <span class="common-radio__check"></span>
                            <span class="common-radio__text">
                                <svg><use xlink:href="#bank-7"></use></svg>
                                <span>Росбанк</span>
                            </span>
                        </span>
                    </label>
                    <label class="common-radio">
                        <input type="radio">
                        <span class="common-radio__in">
                            <span class="common-radio__check"></span>
                            <span class="common-radio__text">
                                <svg><use xlink:href="#bank-8"></use></svg>
                                <span>Россельхозбанк</span>
                            </span>
                        </span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<button class="button button-secondary button--sm button-icon w-100 spacing-3" data-src="#popup-photo-1" data-fancybox>
    <svg width="24" height="24">
        <use xlink:href="#card"></use>
    </svg>
    <span class="text4">Добавить карту</span>
</button>

<div class="spacing-35">

    {{> profile-checkboxes }}

</div>

<div class="credit-code__fields spacing-3">
    <div class="form-field__wrapper">
        <div class="form-field form-field--small form-field--bg">
            <input type="text" id="signup-code" class="form-field__input font-medium js-mask-code" placeholder=" ">
            <label for="signup-code" class="form-field__label">Код из SMS</label>
        </div>
    </div>

    <button class="button-link size16 font-medium">Получить код из SMS</button>
</div>

<div class="spacing-3">
    <div class="credit-code__fields mb-2">
        <div class="form-field__wrapper">
            <div class="form-field form-field--small form-field--bg">
                <input type="text" id="signup-code-2" class="form-field__input font-medium js-mask-code" placeholder=" " value="1234">
                <label for="signup-code-2" class="form-field__label">Код из SMS</label>
            </div>
        </div>

        <button class="button-link size16 font-medium" disabled>Выслать повторно</button>
    </div>
    <div class="color-dark-700">Отправить код повторно можно через 55 сек.</div>
</div>


<button class="button button-primary radius8 button--sm w-100 size16" disabled>Подписать</button>
<a href="credit-progress.html" class="button button-primary radius8 button--sm w-100 size16 mt-2">Подписать</a>