<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xl-7">
                <div class="footer-left">
                    <div class="footer-top spacing-1">
                        <button class="footer-link link">
                            <svg>
                                <use xlink:href="#location"></use>
                            </svg>
                            <span>Москва и Московская область</span>
                        </button>
                        <a href="tel:88005504665" class="footer-link link">
                            <svg>
                                <use xlink:href="#tel-1"></use>
                            </svg>
                            <span>8 800 550-46-65</span>
                        </a>
                        <a href="mailto:Info@smartzaym.ru" class="footer-link link">
                            <svg>
                                <use xlink:href="#email"></use>
                            </svg>
                            <span>Info@smartzaym.ru</span>
                        </a>
                    </div>
                    <div class="footer-nav spacing-1">
                        <a class="footer-nav__link" href="#">Внесение платежей</a>
                        <a class="footer-nav__link" href="#">Просрочка платежей</a>
                        <a class="footer-nav__link" href="#">Вопрос-ответ</a>
                        <a class="footer-nav__link" href="#">О компании</a>
                        <a class="footer-nav__link" href="#">Документы</a>
                        <a class="footer-nav__link" href="#">Пресс-центр</a>
                        <a class="footer-nav__link" href="#">Вакансии</a>
                        <a class="footer-nav__link" href="#">Для СМИ</a>
                        <a class="footer-nav__link" href="#">Контакты</a>
                    </div>
                    <div class="lh12 text5 spacing-35">
                        Пример расчета: Пример расчёта полной стоимости займа: при займе под 2.7% в месяц, полная стоимость займа составит 2.7 × 12 (месяцев) = 32.4% в год. При займе 100 000,00 руб. на 1 год, ежемесячный платеж составит 9 867,14 руб., сумма процентов через 1 месяц составит 2 700,00 руб., через 12 месяцев 18 405,74 руб. ПСК: от 32.4% до 105.673% годовых. Комиссия за оформление займа отсутствует. Минимальный период пользования займом составляет 30 дней, максимальный 60 месяцев. Пеня при просрочке составляет 20% годовых от суммы просроченной задолженности за каждый календарный день.
                    </div>
                    <div class="lh12 text5">
                        «К2КАПИТАЛ» 2024. Все права защищены.
                    </div>

                </div>
            </div>
            <div class="col-xl-5">
                <div class="footer-right">
                    <div class="text5 color-dark-400 lh11">
                        <div class="spacing-4">Общество с ограниченной ответственностью микрокредитная компания «К2КАПИТАЛ» (ООО МКК «К2КАПИТАЛ»). ОГРН 1237800132580 ИНН 7814830469. 197350, г. Санкт-Петербург, вн. тер. г. муниципальный округ Юнтолово, пр-кт Комендантский, д. 43, к. 3, литера А, офис 7-И</div>
                        <div class="spacing-4">ООО МКК «К2КАПИТАЛ» с 01.02.2024 является членом СРО «МиР» (107078, г. Москва, Орликов переулок, д.5, стр.1, этаж 2, пом.11).</div>
                        <div class="spacing-4">Регистрационный номер в государственном <a href="#" class="link-underline">реестре МФО</a> 2403140010017 от 17.01.2024.
                            <a href="#" class="link-underline">Сайт Банка России.</a></div>

                        <div class="d-flex flex-column align-items-start gap-5">
                            <a class="footer-link link-underline" href="#">Свидетельство СРО</a>
                            <a class="footer-link link-underline" href="#">Политика конфиденциальности</a>
                            <a class="footer-link link-underline" href="#">Политика обработки персональных данных</a>
                            <a class="footer-link link-underline" href="#">Карта сайта</a>
                            <a class="footer-link link-underline" href="#">Приемная Банка России</a>
                            <a class="footer-link link-underline" href="#">Финансовый уполномоченный</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>