<header class="header">
    <div class="header-content">
        <div class="header-top__wrapper">
            <div class="container-fluid">
                <div class="header-top d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <div class="header-top__left d-flex align-items-center gap-32">
                            <button class="link" data-fancybox data-src="#popup-location">
                                <svg>
                                    <use xlink:href="#location"></use>
                                </svg>
                                <span>Москва и Московская область</span>
                            </button>
                            <a href="#" class="link d-none d-lg-inline-block">
                                <svg>
                                    <use xlink:href="#case"></use>
                                </svg>
                                <span>Вакансии</span>
                            </a>
                        </div>
                    </div>

                    <div class="d-flex align-items-center gap-24">
                        <div class="header-messenger__wrapper">
                            <div class="header-messenger__list">
                                <a href="#" class="header-messenger mr-lg-2">
                                    <svg  width="32" height="32">
                                        <use xlink:href="#whatsapp"></use>
                                    </svg>
                                </a>

                                <a href="#" class="header-messenger">
                                    <svg width="32" height="32">
                                        <use xlink:href="#telegram"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>

                        <button class="link" data-fancybox data-src="#popup-call">
                            <svg>
                                <use xlink:href="#tel"></use>
                            </svg>
                            <span>Заказать звонок</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom__wrapper">
            <div class="container-fluid">
                <div class="header-bottom">
                    <div class="d-flex align-items-center">
                        <button class="burger js-menu-toggle">
                            <svg><use xlink:href="#burger"></use></svg>
                            <svg><use xlink:href="#cross-1"></use></svg>
                        </button>
                        <a href="home.html" class="header-logo">
                            <svg width="174" height="48">
                                <use xlink:href="#logo"></use>
                            </svg>
                        </a>

                    </div>

                    <div class="header-nav__wrapper">
                        <div class="header-nav">
                            <div class="header-nav__link-wrapper">
                                <span href="#" class="header-nav__link">Услуги</span>
                                <button class="header-nav__link-button js-toggle-dropdown">
                                    <svg width="20" height="20">
                                        <use xlink:href="#chevron-down"></use>
                                    </svg>
                                </button>

                                <div class="header-nav__dropdown">
                                    <div class="header-nav__dropdown-list">
                                        <a href="landing-1.html" class="header-nav__dropdown-link">Займ под залог ПТС</a>
                                        <a href="landing-2.html" class="header-nav__dropdown-link">Займ под залог авто</a>
                                        <a href="landing-3.html" class="header-nav__dropdown-link">Займ под залог спецтехники</a>
                                        <a href="landing-4.html" class="header-nav__dropdown-link">Займ под залог коммерческого транспорта</a>
                                    </div>
                                </div>
                            </div>
                            <div class="header-nav__link-wrapper">
                                <span href="#" class="header-nav__link">Клиентам</span>
                                <button class="header-nav__link-button js-toggle-dropdown">
                                    <svg width="20" height="20">
                                        <use xlink:href="#chevron-down"></use>
                                    </svg>
                                </button>

                                <div class="header-nav__dropdown">
                                    <div class="header-nav__dropdown-list">
                                        <a href="payments.html" class="header-nav__dropdown-link">Внесение платежей</a>
                                        <a href="expiration.html" class="header-nav__dropdown-link">Просрочка</a>
                                        <a href="faq.html" class="header-nav__dropdown-link">Вопрос-ответ</a>
                                        <a href="documents.html" class="header-nav__dropdown-link">Документы</a>
                                        <a href="details.html" class="header-nav__dropdown-link">Реквизиты</a>
                                    </div>
                                </div>
                            </div>
                            <div class="header-nav__link-wrapper">
                                <a href="about.html" class="header-nav__link">О компании</a>
                            </div>
                            <div class="header-nav__link-wrapper">
                                <span class="header-nav__link">Пресс-центр</span>
                                <button class="header-nav__link-button js-toggle-dropdown">
                                    <svg width="20" height="20">
                                        <use xlink:href="#chevron-down"></use>
                                    </svg>
                                </button>

                                <div class="header-nav__dropdown">
                                    <div class="header-nav__dropdown-list">
                                        <a href="news.html" class="header-nav__dropdown-link">Новости и статьи</a>
                                        <a href="media.html" class="header-nav__dropdown-link">Для прессы</a>
                                    </div>
                                </div>
                            </div>
                            <div class="header-nav__link-wrapper d-lg-none">
                                <a href="job.html" class="header-nav__link">Вакансии</a>
                            </div>
                            <div class="header-nav__link-wrapper">
                                <a href="contacts.html" class="header-nav__link">Контакты</a>
                            </div>
                        </div>
                    </div>

                    <button class="button button-icon button-secondary button--sm">
                        <svg width="24" height="24">
                            <use xlink:href="#cabinet"></use>
                        </svg>
                        <span>Личный кабинет</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="header-menu">
            <div class="container">
                <div class="header-menu__in">
                    <div class="row header-menu__nav-wrapper">
                        <div class="col-sm-8 offset-sm-2">
                            <div class="header-menu__nav"></div>
                        </div>
                    </div>
                    <div class="header-menu__messengers"></div>
                </div>
            </div>

        </div>
    </div>
</header>