<div class="col-xl-3 offset-xl-1">
    <div class="card inner-common-block card mb-2">
        <div class="color-dark-500 spacing-35">
            Клиентам:
        </div>
        <div class="inner-nav">
            <a href="#" class="inner-nav__link inner-nav__link--active">Внесение платежей</a>
            <a href="#" class="inner-nav__link">Просрочка</a>
            <a href="#" class="inner-nav__link">Вопрос-ответ</a>
            <a href="#" class="inner-nav__link">Документы</a>
            <a href="#" class="inner-nav__link">Реквизиты</a>
        </div>
    </div>
    <div class="inner-banner card">
        Рекламная плоскость<br>
        288 x 400
    </div>
</div>