<div class="popup-photo__popover">
    <div class="popup-photo__popover-in">
        <div class="text font-medium mb-1">Прервать заполнение?</div>
        <div class="text4 spacing-4 lh12">Все фотографии, которые Вы сделали ранее не будут сохранены.</div>
    </div>

    <div class="popup-photo__popover-actions">
        <button class="button button-fourthary button--sm radius8 js-close-photo-modal">Прервать</button>
        <button class="button button-primary button--sm radius8 js-close-popover">Продолжить</button>
    </div>
</div>