<div id="popup-call" class="popup__wrapper popup__wrapper--common" style="display: none">
    <div class="popup__in">
        <div class="title-h3 font-medium spacing-4 tac lh12">Закажите обратный звонок</div>

        <div class="text lh14 spacing-3 tac">Оставьте имя и телефон, и мы перезвоним вам в рабочее время: с 9:00 до 20:30 по Москве.</div>

        <form class="popup-call__in spacing-4">
            <div class="form-field__wrapper spacing-4">
                <div class="form-field form-field--error">
                    <input type="text" id="popup-name" class="form-field__input" placeholder=" " value="Wrong name">
                    <label for="popup-name" class="form-field__label">Имя</label>
                </div>
                <span class="form-field__error">Сообщение об ошибке</span>
            </div>
            <div class="form-field__wrapper spacing-3">
                <div class="form-field">
                    <input type="text" id="popup-tel" class="form-field__input js-tel" placeholder=" ">
                    <label for="popup-tel" class="form-field__label">Телефон</label>
                </div>
            </div>

            <button class="button button-primary w-100" data-fancybox data-src="#popup-thanks">Заказать обратный звонок</button>
        </form>
        <div class="form-policy color-dark-800 text4 tac">
            Нажимая на кнопку, я даю <a href="#" class="link-underline">согласие</a> на обработку персональных
            <br class="d-none d-md-inline"> данных на основании <a href="#" class="link-underline">политики конфиденциальности</a>
        </div>
    </div>
</div>
<div id="popup-calc" class="popup__wrapper popup__wrapper--common" style="display: none">
    <div class="popup__in">
        <div class="title-h3 font-medium spacing-4 tac lh12">Рассчитайте сумму займа по Вашему авто</div>

        <div class="text lh14 spacing-3 tac">Оставьте имя и телефон, и мы перезвоним вам в рабочее время: с 9:00 до 20:30 по Москве.</div>

        <form class="popup-call__in spacing-4">
            <div class="form-field__wrapper spacing-4">
                <div class="form-field form-field--error">
                    <input type="text" id="popup-calc-number" class="form-field__input" placeholder=" " value="00 00 00 0">
                    <label for="popup-calc-number" class="form-field__label">Госномер</label>
                </div>
                <span class="form-field__error">Введите корректный госномер</span>
            </div>
            <div class="form-field__wrapper spacing-3">
                <div class="form-field">
                    <input type="text" id="popup-calc-tel" class="form-field__input js-tel" placeholder=" ">
                    <label for="popup-calc-tel" class="form-field__label">Телефон</label>
                </div>
            </div>

            <button class="button button-primary w-100" data-fancybox data-src="#popup-thanks">Получить расчет</button>
        </form>
        <div class="form-policy color-dark-800 text4 tac">
            Нажимая на кнопку, я даю <a href="#" class="link-underline">согласие</a> на обработку персональных
            <br class="d-none d-md-inline"> данных на основании <a href="#" class="link-underline">политики конфиденциальности</a>
        </div>
    </div>
</div>
<div id="popup-cons" class="popup__wrapper popup__wrapper--common" style="display: none">
    <div class="popup__in">
        <div class="title-h3 font-medium spacing-4 tac lh12">Получите консультацию</div>

        <div class="text lh14 spacing-3 tac">Оставьте имя и телефон, и мы перезвоним вам в рабочее время: с 9:00 до 20:30 по Москве.</div>

        <form class="popup-call__in spacing-4">
            <div class="form-field__wrapper spacing-4">
                <div class="form-field">
                    <input type="text" id="popup-cons-name" class="form-field__input" placeholder=" ">
                    <label for="popup-cons-name" class="form-field__label">Имя</label>
                </div>
            </div>
            <div class="form-field__wrapper spacing-3">
                <div class="form-field">
                    <input type="text" id="popup-cons-tel" class="form-field__input js-tel" placeholder=" ">
                    <label for="popup-cons-tel" class="form-field__label">Телефон</label>
                </div>
            </div>

            <button class="button button-primary w-100" data-fancybox data-src="#popup-thanks">Получить расчет</button>
        </form>
        <div class="form-policy color-dark-800 text4 tac">
            Нажимая на кнопку, я даю <a href="#" class="link-underline">согласие</a> на обработку персональных
            <br class="d-none d-md-inline"> данных на основании <a href="#" class="link-underline">политики конфиденциальности</a>
        </div>
    </div>
</div>
<div id="popup-thanks" class="popup__wrapper popup__wrapper--lg popup__wrapper--thanks popup__wrapper--common" style="display: none">
    <div class="popup__in">
        <div class="title-h3 font-medium lh12 spacing-4 tac">Спасибо! Ваша заявка принята.</div>

        <div class="text lh14 spacing-4 tac">Мы свяжемся с Вами в ближайшее время.</div>

        <div class="d-flex justify-content-center">
            <a href="#" class="button button-secondary js-close-fancybox">Вернуться на главную</a>
        </div>
    </div>
</div>
<div id="popup-expiration" class="popup__wrapper popup__wrapper--common" style="display: none">
    <div class="popup__in">
        <div class="title-h3 font-medium spacing-4 tac lh12">Сообщите о просрочке платежа</div>

        <div class="text lh14 spacing-3 tac">Оставьте номер договора, и мы перезвоним вам в&nbsp;рабочее время: с 9:00 до 20:30 по Москве.</div>

        <form class="popup-call__in spacing-4">
            <div class="form-field__wrapper">
                <div class="form-field spacing-3">
                    <input type="text" id="popup-expiration-name" class="form-field__input" placeholder=" ">
                    <label for="popup-expiration-name" class="form-field__label">Номер договора</label>
                </div>
            </div>

            <button class="button button-primary w-100" data-fancybox data-src="#popup-thanks">Сообщить о просрочке</button>
        </form>
        <div class="form-policy color-dark-800 text4 tac">
            Нажимая на кнопку, я даю <a href="#" class="link-underline">согласие</a> на обработку персональных
            <br class="d-none d-md-inline"> данных на основании <a href="#" class="link-underline">политики конфиденциальности</a>
        </div>
    </div>
</div>

<div id="popup-card" class="popup__wrapper popup__wrapper--common popup__wrapper--xs" style="display: none">
    <div class="popup__in popup__in--align-start">
        <div class="title-h6 font-medium mb-2 lh12">Добавление карты</div>

        <div class="text4 lh12 spacing-3">Для привязки карты мы спишем 1 руб.<br>
            и сразу же вернём обратно.</div>

        <form class="popup-call__in">
            <div class="popup-card__fields spacing-35">
                <div class="popup-card__spinner-wrapper">
                    <svg class="popup-card__spinner" width="56" height="56">
                        <use xlink:href="#spinner"></use>
                    </svg>
                    <span>Проверяем Вашу карту...</span>
                </div>
                <div class="form-field__wrapper spacing-4">
                    <div class="form-field form-field--small form-field--bg">
                        <input type="text" id="popup-card-number" class="form-field__input js-mask-card" placeholder=" ">
                        <label for="popup-card-number" class="form-field__label">Номер карты</label>
                    </div>
                </div>
                <div class="popup-card__fields-row spacing-4">
                    <div class="form-field__wrapper">
                        <div class="form-field form-field--small form-field--bg">
                            <input type="text" id="popup-card-date" class="form-field__input js-mask-year" placeholder=" ">
                            <label for="popup-card-date" class="form-field__label">MM / YY</label>
                        </div>
                    </div>
                    <div class="form-field__wrapper">
                        <div class="form-field form-field--small form-field--bg">
                            <input type="text" id="popup-card-cvv" class="form-field__input js-mask-cvv" placeholder=" ">
                            <label for="popup-card-cvv" class="form-field__label">CVV</label>
                        </div>
                    </div>
                </div>
                <div class="form-field__wrapper">
                    <div class="form-field form-field--small form-field--bg">
                        <input type="email" id="popup-card-email" class="form-field__input" placeholder=" ">
                        <label for="popup-card-email" class="form-field__label">Почта</label>
                    </div>
                </div>
            </div>


            <button class="button button-primary button--xs button-icon w-100 radius8 gap-8 spacing-4 js-validate-card">
                <svg width="24" height="24">
                    <use xlink:href="#card"></use>
                </svg>
                <span class="size14">Добавить карту</span>
            </button>

            <div class="tac text4 color-dark-700 lh12">
                Нажимая «Добавить карту», вы соглашаетесь<br>
                <a href="#" class="link-underline">с условиями оферты</a>
            </div>
        </form>
    </div>
</div>

<div id="popup-request" class="popup__wrapper popup__wrapper--common" style="display: none">
    <div class="popup__in">
        <div class="title-h3 font-medium spacing-4 tac lh12">Подать заявку</div>

        <div class="text lh14 spacing-3 tac">Зарегистрируйтесь в личном кабинете, чтобы подать заявку на займ без посещения офиса</div>

        <form class="popup-call__in">
            <div class="form-field__wrapper spacing-4">
                <div class="form-field form-field--phone">
                    <input type="text" id="popup-request-tel" class="form-field__input form-field__phone js-tel" placeholder="+7">
                    <svg class="form-field--phone__flag"><use xlink:href="#rus"></use></svg>
                </div>
            </div>

            {{> checkbox-group }}

            <button class="button button-primary spacing-4 w-100" data-fancybox data-src="#popup-thanks">Выслать SMS</button>
            <div class="tac">
                У вас уже есть личный кабинет?<br class="d-lg-none">
                <span class="color-purple">
                    <a href="signin.html" class="link-underline font-medium">Войти</a>
                </span>
            </div>
        </form>
    </div>
</div>

<div id="popup-mobile" class="popup__wrapper popup__wrapper--mobile popup__wrapper--common popup__wrapper--xsm" style="display: none">
    <div class="popup__in">
        <div class="popup-mobile__in">
            <div class="title-h45 font-medium spacing-4 tac lh12">Продолжим в мобильной версии?</div>

            <div class="text4 lh14 spacing-3 tac">Для повышения шансов одобрения заявки требуется предоставить фотографии автомобиля с разных ракурсов, что удобно выполнить через мобильное устройство.</div>

            <div class="popup-mobile__buttons">
                <button class="button button-primary size16 radius8 w-100" data-fancybox data-src="#popup-thanks">Выслать СМС с ссылкой для входа</button>
                <button class="button button-link size16 w-100 js-close-fancybox" data-fancybox data-src="#popup-thanks">Продолжить с компьютера</button>
            </div>

            <img class="popup-mobile__picture" src="{{root}}assets/img/mobile-dialog-picture.jpg" alt="Продолжим в мобильной версии?">
        </div>

    </div>
</div>

<div id="popup-location" class="popup__wrapper popup__wrapper--sm popup__wrapper--location" style="display: none">
    <div class="popup__in">
        <div class="text font-medium spacing-4">Выберите населенный пункт</div>

        <label class="form-field form-field--bg form-field--search spacing-35">
            <input class="form-field--search__input js-location-input" type="text" placeholder="Ваш город">
            <svg class="form-field--search__icon js-location-search" width="24" height="24">
                <use xlink:href="#search"></use>
            </svg>

            <button class="form-field--search__icon-clear js-clear-location-input">
                <svg width="24" height="24">
                    <use xlink:href="#cross"></use>
                </svg>
            </button>
        </label>

        <div class="d-flex flex-column align-items-start row-gap-8">
            <span class="location-radio location-radio--checked">
                <span class="location-radio__text">Москва и Московская область</span>
                <svg  width="24" height="24">
                    <use xlink:href="#check"></use>
                </svg>
            </span>
            <span class="location-radio">
                <span class="location-radio__text">Санкт-Петербург</span>
            </span>
            <span class="location-radio">
                <span class="location-radio__text">Казань</span>
            </span>
            <span class="location-radio">
                <span class="location-radio__text">Уфа</span>
            </span>
            <span class="location-radio">
                <span class="location-radio__text">Нижний Новгород</span>
            </span>
            <span class="location-radio">
                <span class="location-radio__text">Великий Новгород</span>
            </span>
            <span class="location-radio">
                <span class="location-radio__text">Краснодар</span>
            </span>
            <span class="location-radio">
                <span class="location-radio__text">Челябинск</span>
            </span>
            <span class="location-radio">
                <span class="location-radio__text">Набережные Челны</span>
            </span>
            <span class="location-radio">
                <span class="location-radio__text">Нижний Новгород</span>
            </span>
            <span class="location-radio">
                <span class="location-radio__text">Краснодар</span>
            </span>
            <span class="location-radio">
                <span class="location-radio__text">Казань</span>
            </span>
            <span class="location-radio">
                <span class="location-radio__text">Краснодар</span>
            </span>
            <span class="location-radio">
                <span class="location-radio__text">Санкт-Петербург</span>
            </span>
            <span class="location-radio">
                <span class="location-radio__text">Краснодар</span>
            </span>
        </div>
    </div>
</div>

<div class="cookies" style="display: none">
    <div class="cookies__in">
        <div class="cookies__text">
            ООО МКК «К2КАПИТАЛ» использует файлы «cookie» с целью персонализации сервисов и повышения удобства пользования веб-сайтом. Если вы не хотите использовать файлы «cookie», пожалуйста, измените настройки вашего браузера.
        </div>
        <button class="button button-thirdary js-set-cookies">Понятно</button>
    </div>
</div>

<div id="popup-photo-1" class="popup__wrapper popup__wrapper--photo" style="display: none">
    <div class="popup-photo__grid">
        <div class="popup-photo__info">
            <div class="d-flex flex-column justify-content-between h-100">
                <div>
                    <div class="title-h6 font-medium spacing-4 lh12 ls08">Фото документов</div>

                    <div class="popup-photo__steps">
                        <div class="popup-photo__step">
                            <span></span>
                            <div class="font-medium text4 mb-1">Разрешите доступ к камере</div>
                            <div class="text5 color-dark-700 lh12 mb-2">Перед началом процесса Вам необходимо выдать разрешение на использование Вашей веб-камеры.</div>
                            <button class="button button-secondary button--sm radius8 size14 js-photo-step-2">Разрешить</button>
                        </div>
                        <div class="popup-photo__step">
                            <span></span>
                            <div class="font-medium text4 mb-1">Подготовьте документы</div>
                            <div class="text5 color-dark-700 lh12">На данном шаге Вам понадобится только паспорт гражданина РФ.</div>
                        </div>
                        <div class="popup-photo__step">
                            <span></span>
                            <div class="font-medium text4 mb-1">Сделайте фотографии</div>
                            <div class="text5 color-dark-700 lh12">На каждом этапе мы сообщим (и покажем), какие фотографии нужно сделать</div>
                        </div>
                    </div>
                </div>
                <button class="button button-primary button--sm radius8 size16" disabled>Продолжить</button>
            </div>
        </div>
        <div class="popup-photo__main">
            <div class="popup-photo__dummy">
                <svg class="popup-photo__spinner" width="56" height="56">
                    <use xlink:href="#spinner"></use>
                </svg>
                <span>Ожидаем доступа к камере<br> и местоположению...</span>
            </div>
            <div class="popup-photo__close-wrapper">
                <div class="popup-photo__close-in">
                    <button class="popup-photo__close js-close-fancybox">
                        <svg width="40" height="40">
                            <use xlink:href="#thumb-delete"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="popup-photo-2" class="popup__wrapper popup__wrapper--photo" style="display: none">
    <div class="popup-photo__grid">
        <div class="popup-photo__info">
            <div class="d-flex flex-column justify-content-between h-100">
                <div>
                    <div class="title-h6 font-medium spacing-4 lh12 ls08">Фото документов</div>

                    <div class="popup-photo__steps">
                        <div class="popup-photo__step">
                            <span></span>
                            <div class="font-medium text4 mb-1">Разрешите доступ к камере</div>
                            <div class="text5 color-dark-700 lh12 mb-2">Перед началом процесса Вам необходимо выдать разрешение на использование Вашей веб-камеры.</div>
                            <button class="button button-secondary button--sm radius8 size14" disabled>Разрешить</button>
                        </div>
                        <div class="popup-photo__step">
                            <span></span>
                            <div class="font-medium text4 mb-1">Подготовьте документы</div>
                            <div class="text5 color-dark-700 lh12">На данном шаге Вам понадобится только паспорт гражданина РФ.</div>
                        </div>
                        <div class="popup-photo__step">
                            <span></span>
                            <div class="font-medium text4 mb-1">Сделайте фотографии</div>
                            <div class="text5 color-dark-700 lh12">На каждом этапе мы сообщим (и покажем), какие фотографии нужно сделать</div>
                        </div>
                    </div>
                </div>
                <button class="button button-primary button--sm radius8 size16 js-photo-step-3">Продолжить</button>
            </div>

        </div>
        <div class="popup-photo__main">
            <img class="popup-photo__picture" src="{{root}}assets/img/popup-photo.jpg" alt="Фото">
            <div class="popup-photo__close-wrapper">
                <div class="popup-photo__close-in">
                    <button class="popup-photo__close js-toggle-popover">
                        <svg width="40" height="40">
                            <use xlink:href="#thumb-delete"></use>
                        </svg>
                    </button>

                    {{> photo-popover }}

                </div>

            </div>
        </div>
    </div>
</div>
<div id="popup-photo-3" class="popup__wrapper popup__wrapper--photo" style="display: none">
    <div class="popup-photo__grid">
        <div class="popup-photo__info">
            <div class="d-flex flex-column justify-content-between h-100">
                <div>
                    <div class="popup-photo__header spacing-35">
                        <div class="profile-steps">
                            <div class="profile-step profile-step--active"></div>
                            <div class="profile-step"></div>
                            <div class="profile-step"></div>
                        </div>

                        <div class="text4">Шаг 1 из 3</div>
                    </div>

                    <div class="font-medium title-h6 ls08 mb-1 tac">Основной разворот</div>
                    <div class="text5 color-dark-700 tac">Сделайте фото основного разворота.</div>

                    <div class="popup-photo__preview"></div>

                    <div class="text5 color-dark-700 tac lh12">Убедитесь, что фотография не засвечена<br> и все данные легкочитаемы</div>

                </div>
                <button class="button button-primary button--sm radius8 size16" disabled>Продолжить</button>
            </div>

        </div>
        <div class="popup-photo__main">
            <img class="popup-photo__picture" src="{{root}}assets/img/popup-photo.jpg" alt="Фото">
            <div class="popup-photo__close-wrapper">
                <div class="popup-photo__close-in">
                    <button class="popup-photo__close js-toggle-popover">
                        <svg width="40" height="40">
                            <use xlink:href="#thumb-delete"></use>
                        </svg>
                    </button>

                    {{> photo-popover }}

                </div>
            </div>

            <div class="popup-photo__actions">
                <button class="button button-primary button--sm size16 button-icon gap-8 js-photo-step-4">
                    <svg width="24" height="24">
                        <use xlink:href="#camera"></use>
                    </svg>
                    <span class="text4">Сделать фото</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div id="popup-photo-4" class="popup__wrapper popup__wrapper--photo" style="display: none">
    <div class="popup-photo__grid">
        <div class="popup-photo__info">
            <div class="d-flex flex-column justify-content-between h-100">
                <div>
                    <div class="popup-photo__header spacing-35">
                        <div class="profile-steps">
                            <div class="profile-step profile-step--active"></div>
                            <div class="profile-step"></div>
                            <div class="profile-step"></div>
                        </div>

                        <div class="text4">Шаг 1 из 3</div>
                    </div>

                    <div class="font-medium title-h6 ls08 mb-1 tac">Основной разворот</div>
                    <div class="text5 color-dark-700 tac">Сделайте фото основного разворота.</div>

                    <div class="popup-photo__preview"></div>

                    <div class="text5 color-dark-700 tac lh12">Убедитесь, что фотография не засвечена<br> и все данные легкочитаемы</div>

                </div>
                <button class="button button-primary button--sm radius8 size16 js-photo-step-5">Продолжить</button>
            </div>

        </div>
        <div class="popup-photo__main">
            <img class="popup-photo__picture" src="{{root}}assets/img/popup-photo.jpg" alt="Фото">
            <div class="popup-photo__close-wrapper">
                <div class="popup-photo__close-in">
                    <button class="popup-photo__close js-toggle-popover">
                        <svg width="40" height="40">
                            <use xlink:href="#thumb-delete"></use>
                        </svg>
                    </button>

                    {{> photo-popover }}

                </div>
            </div>

            <div class="popup-photo__actions">
                <button class="button button-fourthary button--sm size16 button-icon gap-8 js-photo-step-4">
                    <span class="text4">Переснять</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div id="popup-photo-5" class="popup__wrapper popup__wrapper--photo" style="display: none">
    <div class="popup-photo__grid">
        <div class="popup-photo__info">
            <div class="d-flex flex-column justify-content-between h-100">
                <div>
                    <div class="popup-photo__header spacing-35">
                        <div class="profile-steps">
                            <div class="profile-step profile-step--passed"></div>
                            <div class="profile-step profile-step--active"></div>
                            <div class="profile-step"></div>
                        </div>

                        <div class="text4">Шаг 2 из 3</div>
                    </div>

                    <div class="font-medium title-h6 ls08 mb-1 tac">Прописка</div>
                    <div class="text5 color-dark-700 tac">Сделайте фото основного разворота.</div>

                    <div class="popup-photo__preview"></div>

                    <div class="text5 color-dark-700 tac lh12">Убедитесь, что фотография не засвечена<br> и все данные легкочитаемы</div>

                </div>
                <div class="popup-photo__nav">
                    <button class="button button-fourthary button--sm radius8 size16">Назад</button>
                    <button class="button button-primary button--sm radius8 size16" disabled>Продолжить</button>
                </div>

            </div>

        </div>
        <div class="popup-photo__main">
            <img class="popup-photo__picture" src="{{root}}assets/img/popup-photo.jpg" alt="Фото">
            <div class="popup-photo__close-wrapper">
                <div class="popup-photo__close-in">
                    <button class="popup-photo__close js-toggle-popover">
                        <svg width="40" height="40">
                            <use xlink:href="#thumb-delete"></use>
                        </svg>
                    </button>

                    {{> photo-popover }}

                </div>
            </div>

            <div class="popup-photo__actions">
                <button class="button button-primary button--sm size16 button-icon gap-8 js-photo-step-6">
                    <svg width="24" height="24">
                        <use xlink:href="#camera"></use>
                    </svg>
                    <span class="text4">Сделать фото</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div id="popup-photo-6" class="popup__wrapper popup__wrapper--photo" style="display: none">
    <div class="popup-photo__grid">
        <div class="popup-photo__info">
            <div class="d-flex flex-column justify-content-between h-100">
                <div>
                    <div class="popup-photo__header spacing-35">
                        <div class="profile-steps">
                            <div class="profile-step profile-step--passed"></div>
                            <div class="profile-step profile-step--active"></div>
                            <div class="profile-step"></div>
                        </div>

                        <div class="text4">Шаг 2 из 3</div>
                    </div>

                    <div class="font-medium title-h6 ls08 mb-1 tac">Прописка</div>
                    <div class="text5 color-dark-700 tac">Сделайте фото основного разворота.</div>

                    <div class="popup-photo__preview"></div>

                    <div class="text5 color-dark-700 tac lh12">Убедитесь, что фотография не засвечена<br> и все данные легкочитаемы</div>

                </div>
                <div class="popup-photo__nav">
                    <button class="button button-fourthary button--sm radius8 size16">Назад</button>
                    <button class="button button-primary button--sm radius8 size16">Продолжить</button>
                </div>

            </div>

        </div>
        <div class="popup-photo__main">
            <img class="popup-photo__picture" src="{{root}}assets/img/popup-photo.jpg" alt="Фото">
            <div class="popup-photo__close-wrapper">
                <div class="popup-photo__close-in">
                    <button class="popup-photo__close js-toggle-popover">
                        <svg width="40" height="40">
                            <use xlink:href="#thumb-delete"></use>
                        </svg>
                    </button>

                    {{> photo-popover }}

                </div>
            </div>

            <div class="popup-photo__actions">
                <button class="button button-fourthary button--sm size16 button-icon gap-8">
                    <span class="text4">Переснять</span>
                </button>
            </div>
        </div>
    </div>
</div>


<!--mobile flow-->
<div id="popup-mobile-photo-1" class="popup__wrapper popup__wrapper--photo" style="display: none">
    <div class="popup-photo__grid">
        <div class="popup-photo__info">
            <div class="d-flex flex-column justify-content-between h-100">
                <div>
                    <div class="title-h6 font-medium spacing-4 lh12 ls08">Фото документов</div>

                    <div class="popup-photo__steps">
                        <div class="popup-photo__step">
                            <span></span>
                            <div class="font-medium text4 mb-1">Разрешите доступ к камере</div>
                            <div class="text5 color-dark-700 lh12 mb-2">Перед началом процесса Вам необходимо выдать разрешение на использование Вашей веб-камеры.</div>
                            <button class="button button-secondary button--sm radius8 size14 js-photo-step-2">Разрешить</button>
                        </div>
                        <div class="popup-photo__step">
                            <span></span>
                            <div class="font-medium text4 mb-1">Подготовьте документы</div>
                            <div class="text5 color-dark-700 lh12">На данном шаге Вам понадобится только паспорт гражданина РФ.</div>
                        </div>
                        <div class="popup-photo__step">
                            <span></span>
                            <div class="font-medium text4 mb-1">Сделайте фотографии</div>
                            <div class="text5 color-dark-700 lh12">На каждом этапе мы сообщим (и покажем), какие фотографии нужно сделать</div>
                        </div>
                    </div>
                </div>
                <button class="button button-primary button--sm radius8 size16" data-fancybox data-src="#popup-mobile-photo-2">Продолжить</button>
            </div>
        </div>
    </div>
</div>
<div id="popup-mobile-photo-2" class="popup__wrapper popup__wrapper--mobile-photo" style="display: none; background-image: url('{{root}}assets/img/passport.jpg');">
    <div class="mobile-photo__in mobile-photo__in--active">
        <div class="mobile-photo__content">
            <div class="mobile-photo__top">
                <div class="font-medium size24 ls08 mb-1">Основной разворот</div>
                <div class="text5 mb-2">Сделайте фото основного разворота.</div>

                <div class="popup-photo__header">
                    <div class="profile-steps">
                        <div class="profile-step profile-step--active"></div>
                        <div class="profile-step"></div>
                        <div class="profile-step"></div>
                    </div>

                    <div class="text4">Шаг 1 из 3</div>
                </div>
            </div>

            <div class="mobile-photo__frame-wrapper">
                <div class="mobile-photo__frame">
                    <svg width="56" height="56"><use xlink:href="#frame-border"></use></svg>
                    <svg width="56" height="56"><use xlink:href="#frame-border"></use></svg>
                    <svg width="56" height="56"><use xlink:href="#frame-border"></use></svg>
                    <svg width="56" height="56"><use xlink:href="#frame-border"></use></svg>
                </div>
            </div>

            <div class="mobile-photo__actions">
                <button class="font-medium button--sm button-link size16 color-white js-toggle-instruction">Инструкция</button>

                <button data-src="#popup-mobile-photo-3" data-fancybox>
                    <svg width="64" height="64">
                        <use xlink:href="#camera-action"></use>
                    </svg>
                </button>

                <button>
                    <svg width="40" height="40">
                        <use xlink:href="#camera-rotation"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>
<div id="popup-mobile-photo-3" class="popup__wrapper popup__wrapper--mobile-photo popup__wrapper-prevent-close" style="display: none;">
    <div class="mobile-photo__in">
        <div class="fancybox-close-small">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path>
            </svg>
        </div>
        <div class="mobile-photo__content">
            <div class="mobile-photo__top">
                <div class="font-medium size24 ls08 mb-1">Основной разворот</div>
                <div class="text5 mb-2">Сделайте фото основного разворота.</div>

                <div class="popup-photo__header">
                    <div class="profile-steps">
                        <div class="profile-step profile-step--active"></div>
                        <div class="profile-step"></div>
                        <div class="profile-step"></div>
                    </div>

                    <div class="text4">Шаг 1 из 3</div>
                </div>
            </div>

            <div class="mobile-photo-result__picture" style="background-image: url('{{root}}assets/img/passport.jpg');"></div>

            <div class="mobile-photo-result__actions">
                <button class="button button-fourthary button--sm radius8 size16">Переснять</button>
                <button class="button button-primary button--sm radius8 size16">Продолжить</button>
                <button class="button-link button-sm size16 font-medium">К предыдщуему шагу</button>
            </div>
        </div>
    </div>
</div>
<div id="popup-mobile-photo-cancel" class="popup__wrapper popup__wrapper--cancel" style="display: none;">
    <div class="popup-cancel">
        <div class="popup-cancel__in spacing-4">
            <div class="font-medium size24 ls08 mb-1">Прервать заполнение?</div>
            <div class="text4">Все фотографии, которые Вы сделали ранее не будут сохранены.</div>
        </div>
        <div class="popup-cancel__actions">
            <button class="button button-fourthary button--sm radius8 size16 js-close-photo-cancel">Прервать</button>
            <button class="button button-primary button--sm radius8 size16 js-close-fancybox">Продолжить</button>
        </div>
    </div>
</div>
<div id="popup-mobile-photo-info" class="popup__wrapper popup__wrapper--info" style="display: none;">
    <div class="popup-info tac">
        <div class="font-medium size24 ls08 mb-1">Основной разворот</div>
        <div class="text5 color-dark-700 spacing-4">Сделайте фото основного разворота.</div>
        <div class="popup-info__sample spacing-4"></div>
        <div class="text5 lh12 color-dark-700">Убедитесь, что фотография не засвечена и все данные легкочитаемы</div>
    </div>
</div>

<div id="popup-payment" class="popup__wrapper popup__wrapper--common popup__wrapper--sm" style="display: none">
    <div class="popup__in popup__in--align-start">
        <div class="font-medium mb-2 lh12">Сумма текущей задолженности</div>

        <div class="amount-wrapper spacing-35">
            <input type="text" class="width-dynamic js-amount" value="12500" placeholder="Сумма">
            <div class="amount-unit">₽</div>
        </div>

        <div class="font-medium lh12 spacing-4">Способ внесения платежа</div>

        <form class="popup-call__in">
            <div class="popup-card__fields spacing-4">

                <label class="credit-payment mb-2">
                    <input type="radio" name="popup-payment" checked>
                    <span class="credit-payment__in">
                        <span class="credit-payment__header">
                            <span></span>
                            <span>
                                <span class="font-medium mb-1">**** **** **** **22</span>
                                <span class="text5 color-dark-700">Действительна до: 12/25</span>
                            </span>
                            <svg width="66" height="20">
                                <use xlink:href="#card-2-1"></use>
                            </svg>
                        </span>
                    </span>
                </label>
                <label class="credit-payment mb-2">
                    <input type="radio" name="popup-payment">
                    <span class="credit-payment__in">
                        <span class="credit-payment__header">
                            <span></span>
                            <span>
                                <span class="font-medium mb-1">Через СБП</span>
                                <span class="text5 color-dark-700">Сервис платежной системы ЦБ РФ</span>
                            </span>
                            <svg width="86" height="31">
                                <use xlink:href="#card-5"></use>
                            </svg>
                        </span>
                    </span>
                </label>
            </div>


            <button class="button button-secondary button--xs button-icon w-100 radius8 gap-8 spacing-35">
                <svg width="24" height="24">
                    <use xlink:href="#card"></use>
                </svg>
                <span class="size14">Добавить карту</span>
            </button>
            <button class="button button-primary button--xs button-icon w-100 radius8 gap-8 spacing-4" data-src="#popup-payment-success" data-fancybox>
                Оплатить 13 500 ₽
            </button>

            <div class="tac color-gray-hz text4">В том числе комиссия банка 500 ₽ </div>
        </form>
    </div>
</div>
<div id="popup-payment-prolongation" class="popup__wrapper popup__wrapper--common popup__wrapper--sm" style="display: none">
    <div class="popup__in popup__in--align-start">
        <div class="popup-payment-prolongation__label spacing-4">
            <svg width="20" height="20">
                <use xlink:href="#circle-info"></use>
            </svg>
            <span>
                Погасите текущую задолженность<br>
                перед продлением займа</span>
        </div>

        <div class="font-medium mb-2 lh12">Сумма текущей задолженности</div>

        <div class="amount-wrapper spacing-35">
            <input type="text" class="width-dynamic js-amount" value="12500" placeholder="Сумма">
            <div class="amount-unit">₽</div>
        </div>

        <div class="font-medium lh12 spacing-4">Способ внесения платежа</div>

        <form class="popup-call__in">
            <div class="popup-card__fields spacing-4">

                <label class="credit-payment mb-2">
                    <input type="radio" name="popup-payment" checked>
                    <span class="credit-payment__in">
                        <span class="credit-payment__header">
                            <span></span>
                            <span>
                                <span class="font-medium mb-1">**** **** **** **22</span>
                                <span class="text5 color-dark-700">Действительна до: 12/25</span>
                            </span>
                            <svg width="66" height="20">
                                <use xlink:href="#card-2-1"></use>
                            </svg>
                        </span>
                    </span>
                </label>
                <label class="credit-payment mb-2">
                    <input type="radio" name="popup-payment">
                    <span class="credit-payment__in">
                        <span class="credit-payment__header">
                            <span></span>
                            <span>
                                <span class="font-medium mb-1">Через СБП</span>
                                <span class="text5 color-dark-700">Сервис платежной системы ЦБ РФ</span>
                            </span>
                            <svg width="86" height="31">
                                <use xlink:href="#card-5"></use>
                            </svg>
                        </span>
                    </span>
                </label>
            </div>


            <button class="button button-secondary button--xs button-icon w-100 radius8 gap-8 spacing-35">
                <svg width="24" height="24">
                    <use xlink:href="#card"></use>
                </svg>
                <span class="size14">Добавить карту</span>
            </button>
            <button class="button button-primary button--xs button-icon w-100 radius8 gap-8 spacing-4" data-src="#popup-payment-success" data-fancybox>
                Оплатить 13 500 ₽
            </button>

            <div class="tac color-gray-hz text4">В том числе комиссия банка 500 ₽ </div>
        </form>
    </div>
</div>

<div id="popup-prolongation" class="popup__wrapper popup__wrapper--common popup__wrapper--sm" style="display: none">
    <div class="popup__in popup__in--align-start">
        <div class="title-h6 size24 font-medium spacing-35 lh12">Продлить займ</div>

        <form class="popup-call__in">
            <div class="color-dark-600 mb-2 mb-lg-3">Срок продления</div>
            <div class="calc-range__radio-list d-flex gap-8 spacing-35">
                <label class="radio flex-grow-1">
                    <input type="radio" name="duration">
                    <span class="radio__text w-100 tac">
                        <span>1 мес</span>
                    </span>
                </label>
                <label class="radio flex-grow-1">
                    <input type="radio" name="duration" checked>
                    <span class="radio__text w-100 tac">
                        <span>2 мес</span>
                    </span>
                </label>
                <label class="radio flex-grow-1">
                    <input type="radio" name="duration">
                    <span class="radio__text w-100 tac">
                        <span>3 мес</span>
                    </span>
                </label>
                <label class="radio flex-grow-1">
                    <input type="radio" name="duration">
                    <span class="radio__text w-100 tac">
                        <span>1 год</span>
                    </span>
                </label>
            </div>
            <div class="spacing-35">
                <label class="checkbox text5 spacing-4">
                    <input type="checkbox" checked>
                    <span class="checkbox__text">
                        <svg><use xlink:href="#check"></use></svg>
                        <span class="lh14">Проставляя настоящую галочку, я подтверждаю свое ознакомление и <a href="#" class="link-underline">согласие</a> с дополнительным соглашением о продлении срока кредитного договора.</span>
                    </span>
                </label>
                <label class="checkbox text5">
                    <input type="checkbox" checked>
                    <span class="checkbox__text">
                        <svg><use xlink:href="#check"></use></svg>
                        <span class="lh14"><a href="#" class="link-underline">График платежей</a></span>
                    </span>
                </label>
            </div>

            <div class="spacing-3">
                <div class="credit-code__fields credit-code__fields--small mb-2">
                    <div class="form-field__wrapper">
                        <div class="form-field form-field--small form-field--bg">
                            <input type="text" id="signup-code-2" class="form-field__input font-medium js-mask-code" placeholder=" " value="1234">
                            <label for="signup-code-2" class="form-field__label">Код из SMS</label>
                        </div>
                    </div>

                    <button class="button-link size16 font-medium" disabled>Выслать повторно</button>
                </div>
                <div class="color-dark-700">Отправить код повторно можно через 55 сек.</div>
            </div>

            <button class="button button-primary radius8 button--sm w-100 size16" data-src="#popup-prolongation-success" data-fancybox>Подписать</button>
        </form>
    </div>
</div>


<div id="popup-prolongation-success" class="popup__wrapper popup__wrapper--common popup__wrapper--sm popup-wrapper--white-bg" style="display: none">
    <div class="popup__in popup-payment__in tac">
        <img class="img-responsive spacing-4 align-self-center" src="{{root}}assets/img/credit-success-big.png" alt="Платеж успешно внесен">
        <div class="title-h45 font-medium spacing-4 lh12">Займ успешно продлен</div>
        <div class="text4 spacing-35">Новая дата погашения по договору № 5900093 — <br>
            <span class="font-medium">15 мая 2025 года.</span></div>
    </div>
</div>

<div id="popup-payment-success" class="popup__wrapper popup__wrapper--common popup__wrapper--sm popup-wrapper--white-bg" style="display: none">
    <div class="popup__in popup-payment__in tac">
        <img class="img-responsive spacing-4 align-self-center" src="{{root}}assets/img/credit-success-big.png" alt="Платеж успешно внесен">
        <div class="title-h45 font-medium spacing-4 lh12">Платеж успешно внесен</div>
        <div class="text4 spacing-35">Вы внесли 12 900 ₽ по условиям регулярного платежа по займу № 5900093.</div>

        <button class="button button-secondary button--xs w-100 radius8 gap-8" data-src="#popup-payment-cancel" data-fancybox>
            <span class="size14">Скачать квитанцию в PDF</span>
        </button>
    </div>
</div>

<div id="popup-payment-cancel" class="popup__wrapper popup__wrapper--common popup__wrapper--sm popup-wrapper--white-bg" style="display: none">
    <div class="popup__in popup-payment__in tac">
        <img class="img-responsive spacing-4 align-self-center" src="{{root}}assets/img/credit-cancel-big.png" alt="Платеж не проведен">
        <div class="title-h45 font-medium spacing-4 lh12">Платеж не проведен</div>
        <div class="text4 spacing-35">Что-то пошло не так. Проверьте правильность введенных данных и повторите попытку.</div>

        <button class="button button-primary button--xs w-100 radius8 gap-8" data-src="#popup-payment-unavailable" data-fancybox>
            <span class="size14">Попробовать снова</span>
        </button>
    </div>
</div>

<div id="popup-payment-unavailable" class="popup__wrapper popup__wrapper--common popup__wrapper--sm popup-wrapper--white-bg" style="display: none">
    <div class="popup__in popup-payment__in tac">
        <img class="img-responsive spacing-4 align-self-center" src="{{root}}assets/img/credit-progress-big.png" alt="Сервис недоступен">
        <div class="title-h45 font-medium spacing-4 lh12">Сервис недоступен</div>
        <div class="text4 spacing-35">В настоящий момент мы не можем принять ваш платеж. <br>Сообщите об ошибке администратору, и мы примем  необходимые меры.</div>

        <div class="social-buttons">
            <a href="#" class="social-buttons__item social-buttons__item--ws">
                <span>WhatsApp</span>
                <svg width="25" height="24">
                    <use xlink:href="#watsapp"></use>
                </svg>
            </a>
            <a href="#" class="social-buttons__item social-buttons__item--tg">
                <span>Telegram</span>
                <svg width="25" height="24">
                    <use xlink:href="#telegram"></use>
                </svg>
            </a>
            <a href="#" class="social-buttons__item social-buttons__item--vb">
                <span>Viber</span>
                <svg width="25" height="24">
                    <use xlink:href="#viber"></use>
                </svg>
            </a>
        </div>
    </div>
</div>