<div class="checkbox-group spacing-35">
    <div class="checkbox-group__top">
        <label class="checkbox text5">
            <input type="checkbox">
            <span class="checkbox__text">
                <svg><use xlink:href="#check"></use></svg>
                <span class="lh14">
                    Проставляя настоящую галочку, я подтверждаю свое ознакомление и согласие с указанными ниже документами, подтверждаю достоверность внесенных мной данных (в том числе принадлежность и относимость) этих данных мне, а также поручаю ООО МКК «К2КАПИТАЛ» (далее - Общество) организовать процесс подписания настоящих документов посредством АСП (согласен на подписание указанных документов):
                </span>
            </span>
        </label>
    </div>
    <div class="checkbox-group__content-list color-dark-500">
        <label class="checkbox text5">
            <input type="checkbox">
            <span class="checkbox__text">
                <svg><use xlink:href="#check"></use></svg>
                <span class="lh14"><a href="#" class="link-underline">Заявление-анкета</a></span>
            </span>
        </label>
        <label class="checkbox text5">
            <input type="checkbox">
            <span class="checkbox__text">
                <svg><use xlink:href="#check"></use></svg>
                <span class="lh14"><a href="#" class="link-underline">Согласие</a> субъекта кредитной истории и персональных данных» </span>
            </span>
        </label>
        <label class="checkbox text5">
            <input type="checkbox">
            <span class="checkbox__text">
                <svg><use xlink:href="#check"></use></svg>
                <span class="lh14">Я подтверждаю свое ознакомление и согласия с <a href="#" class="link-underline">правилами</a> и <a href="#" class="link-underline">условиями</a> предоставления микрозайма ООО МКК «К2КАПИТАЛ», также иными документами, расположенными на <a href="#" class="link-underline">сайте</a> Общества в разделе «Документы»</span>
            </span>
        </label>
    </div>

</div>