<header class="profile-header">
    <div class="container">
        <div class="profile-header__in">
            <div class="d-flex align-items-center">
                <button class="burger js-menu-toggle">
                    <svg><use xlink:href="#burger"></use></svg>
                    <svg><use xlink:href="#cross-1"></use></svg>
                </button>
                <a href="home.html" class="auth-header__logo">
                    <svg width="174" height="48">
                        <use xlink:href="#logo"></use>
                    </svg>
                </a>
            </div>


            <div class="profile-header__info">
                <a href="tel:79925640011" class="text4 font-medium">+7 992 564-00-11</a>

                <a class="button button-secondary button--sm button-icon">
                    <span>Выйти</span>
                    <svg width="24" height="24">
                        <use xlink:href="#arrow-right-2"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</header>