<div class="row">
    <div class="col-md-8 offset-md-2 col-xl-12 offset-xl-0">
        <div class="question">
            <div class="question-top">
                <span class="title-h5">Как получить займ под залог ПТС?</span>
                <button class="question-button js-toggle-question">
                    <svg><use xlink:href="#plus-1"></use></svg>
                    <svg><use xlink:href="#minus-1"></use></svg>
                </button>
            </div>
            <div class="question-content">
                Оформление заявки и проверка документов обычно занимает около часа. После подписания документов вы сможете получить деньги в течение часа.
            </div>
        </div>
        <div class="question">
            <div class="question-top">
                <span class="title-h5">Как быстро я получу деньги?</span>
                <button class="question-button js-toggle-question">
                    <svg><use xlink:href="#plus-1"></use></svg>
                    <svg><use xlink:href="#minus-1"></use></svg>
                </button>
            </div>
            <div class="question-content">
                Оформление заявки и проверка документов обычно занимает около часа. После подписания документов вы сможете получить деньги в течение часа.
            </div>
        </div>
        <div class="question">
            <div class="question-top">
                <span class="title-h5">Моя машина подойдёт?</span>
                <button class="question-button js-toggle-question">
                    <svg><use xlink:href="#plus-1"></use></svg>
                    <svg><use xlink:href="#minus-1"></use></svg>
                </button>
            </div>
            <div class="question-content">
                Оформление заявки и проверка документов обычно занимает около часа. После подписания документов вы сможете получить деньги в течение часа.
            </div>
        </div>
        <div class="question">
            <div class="question-top">
                <span class="title-h5">Какая максимальная сумма займа?</span>
                <button class="question-button js-toggle-question">
                    <svg><use xlink:href="#plus-1"></use></svg>
                    <svg><use xlink:href="#minus-1"></use></svg>
                </button>
            </div>
            <div class="question-content">
                Оформление заявки и проверка документов обычно занимает около часа. После подписания документов вы сможете получить деньги в течение часа.
            </div>
        </div>
        <div class="question">
            <div class="question-top">
                <span class="title-h5">Нужно ли куда-то ехать для получения денег?</span>
                <button class="question-button js-toggle-question">
                    <svg><use xlink:href="#plus-1"></use></svg>
                    <svg><use xlink:href="#minus-1"></use></svg>
                </button>
            </div>
            <div class="question-content">
                Оформление заявки и проверка документов обычно занимает около часа. После подписания документов вы сможете получить деньги в течение часа.
            </div>
        </div>
        <div class="question">
            <div class="question-top">
                <span class="title-h5">Какая процентная ставка по займу под залог ПТС?</span>
                <button class="question-button js-toggle-question">
                    <svg><use xlink:href="#plus-1"></use></svg>
                    <svg><use xlink:href="#minus-1"></use></svg>
                </button>
            </div>
            <div class="question-content">
                Оформление заявки и проверка документов обычно занимает около часа. После подписания документов вы сможете получить деньги в течение часа.
            </div>
        </div>
    </div>
</div>