<div class="d-none d-lg-block">
    <div class="signup-mobile signup-mobile-2 card spacing-35">
        <div class="signup-mobile__title">
            <div class="mb-1">
                Продолжайте регистрацию<br>
                со смартфона — это удобно
            </div>
            <div class="text5 color-dark-700">Отправили пароль для входа в SMS</div>
        </div>

        <img src="{{root}}assets/img/signup-mobile.jpg" alt="со смартфона будет удобнее">

        <img src="{{root}}assets/img/signup-qr.png" alt="QR code">
    </div>
</div>