<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <div class="title-h2 font-medium spacing-4 tac ls08 lh12">Оформите заявку и получите<br class="d-none d-md-inline"> деньги в день обращения</div>
                <div class="text spacing-0 tac">Всё оформление онлайн. От подачи заявки до получения денег.</div>

                <div class="row row-gap-8 spacing-1">
                    <div class="col-md-4">
                        <div class="step">
                            <div class="step__in card">
                                <div class="step-number">1</div>
                                <div class="text3 font-medium mb-2">Зарегистрируйтесь<br> в системе</div>
                                <div class="color-dark-700 text4 lh12">Быстрая регистрация<br>
                                    с минимумом данных</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="step">
                            <div class="step__in card">
                                <div class="step-number">2</div>
                                <div class="text3 font-medium mb-2">Предоставьте<br> необходимые документы</div>
                                <div class="color-dark-700 text4 lh12">Приложите паспорт РФ, СТС,<br> ПТС, фото и оставьте заявку</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="step">
                            <div class="step__in card">
                                <div class="step-number">3</div>
                                <div class="text3 font-medium mb-2">Получите деньги</div>
                                <div class="color-dark-700 text4 lh12">Безналичными - на банковскую карту или через Систему Быстрых Платежей<br> (СБП)</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <a href="#" class="button button-primary w-xs-100">Перейти к регистрации</a>
                </div>
            </div>
        </div>
    </div>
</section>