<section class="section">
    <div class="container">
        <div class="title-h2 font-medium spacing-4 tac ls08 lh12">Лояльный сервис для <br> ответственных клиентов</div>
        <div class="text spacing-0 tac">Обратите внимание на требования перед подачей заявки</div>

        <div class="row spacing-0">
            <div class="col-md-10 offset-md-1">
                <div class="card terms">
                    <div class="terms-row">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="text3 font-medium">Требования к заемщикам</div>
                            </div>
                            <div class="col-lg-6 offset-lg-2">
                                <div class="mb-2 color-dark-700">Наличие паспорта гражданина РФ;</div>
                                <div class="mb-2 color-dark-700">Наличие постоянной регистрации на территории РФ;</div>
                                <div class="color-dark-700">Возраст заемщика от 18 лет.</div>
                            </div>
                        </div>
                    </div>
                    <div class="terms-row">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="text3 font-medium">Требования к к объекту залога</div>
                            </div>
                            <div class="col-lg-6 offset-lg-2">
                                <div class="mb-2 color-dark-700">Иномарки — не старше 20 лет, отечественные авто — не старше 13 лет;</div>
                                <div class="mb-2 color-dark-700">Авто не заложено и не связано кредитными обязательствами;</div>
                                <div class="color-dark-700">Все агрегаты транспортного средства и их номера в порядке.</div>
                            </div>
                        </div>
                    </div>
                    <div class="terms-row">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="text3 font-medium">Эти обстоятельства не помешают вам оформить займ под ПТС</div>
                            </div>
                            <div class="col-lg-6 offset-lg-2">
                                <div class="mb-2 color-dark-700">Банки отказываются выдавать вам кредиты;</div>
                                <div class="mb-2 color-dark-700">У вас нет подтвержденных доходов/поручителя;</div>
                                <div class="mb-2 color-dark-700">Вы допускали просрочки платежей в прошлом. Это не скажется на сумме займа и его процентной ставке;</div>
                                <div class="mb-2 color-dark-700">У вас нет официального дохода;</div>
                                <div class="mb-2 color-dark-700">Вы - не собственник автомобиля. Займ под залог ПТС можно получить, имея доверенность на автомобиль;</div>
                                <div class="color-dark-700">Вам нужны деньги, чтобы закрыть другие кредиты.</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="tac text spacing-3">
            Сомневаетесь, что вы подходите? <br>
            Мы ежедневно одобряем 90% заявок.
        </div>
        <div class="d-flex justify-content-center gap-8 flex-column flex-md-row">
            <button class="button button-primary w-xs-100">Оставить заявку</button>
            <button class="button button-secondary w-xs-100" data-fancybox data-src="#popup-cons">Получить консультацию</button>
        </div>
    </div>
</section>