@font-face {
  font-family: 'TTFirsNeue-Light';
  src: url('../fonts/TTFirsNeue-Light.eot');
  src: local('TT Firs Neue Light'), local('TTFirsNeue-Light'),
  url('../fonts/TTFirsNeue-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTFirsNeue-Light.woff2') format('woff2'),
  url('../fonts/TTFirsNeue-Light.woff') format('woff'),
  url('../fonts/TTFirsNeue-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TTFirsNeue-Regular';
  src: url('../fonts/TTFirsNeue-Regular.eot');
  src: local('TT Firs Neue Regular'), local('TTFirsNeue-Regular'),
  url('../fonts/TTFirsNeue-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTFirsNeue-Regular.woff2') format('woff2'),
  url('../fonts/TTFirsNeue-Regular.woff') format('woff'),
  url('../fonts/TTFirsNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TTFirsNeue-ExtraLight';
  src: url('../fonts/TTFirsNeue-ExtraLight.eot');
  src: local('TT Firs Neue ExtraLight'), local('TTFirsNeue-ExtraLight'),
  url('../fonts/TTFirsNeue-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTFirsNeue-ExtraLight.woff2') format('woff2'),
  url('../fonts/TTFirsNeue-ExtraLight.woff') format('woff'),
  url('../fonts/TTFirsNeue-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'TTFirsNeue-DemiBold';
  src: url('../fonts/TTFirsNeue-DemiBold.eot');
  src: local('TT Firs Neue DemiBold'), local('TTFirsNeue-DemiBold'),
  url('../fonts/TTFirsNeue-DemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTFirsNeue-DemiBold.woff2') format('woff2'),
  url('../fonts/TTFirsNeue-DemiBold.woff') format('woff'),
  url('../fonts/TTFirsNeue-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TTFirsNeue-Bold';
  src: url('../fonts/TTFirsNeue-Bold.eot');
  src: local('TT Firs Neue Bold'), local('TTFirsNeue-Bold'),
  url('../fonts/TTFirsNeue-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTFirsNeue-Bold.woff2') format('woff2'),
  url('../fonts/TTFirsNeue-Bold.woff') format('woff'),
  url('../fonts/TTFirsNeue-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TTFirsNeue-ExtraBold';
  src: url('../fonts/TTFirsNeue-ExtraBold.eot');
  src: local('TT Firs Neue ExtraBold'), local('TTFirsNeue-ExtraBold'),
  url('../fonts/TTFirsNeue-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTFirsNeue-ExtraBold.woff2') format('woff2'),
  url('../fonts/TTFirsNeue-ExtraBold.woff') format('woff'),
  url('../fonts/TTFirsNeue-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'TTFirsNeue-Medium';
  src: url('../fonts/TTFirsNeue-Medium.eot');
  src: local('TT Firs Neue Medium'), local('TTFirsNeue-Medium'),
  url('../fonts/TTFirsNeue-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTFirsNeue-Medium.woff2') format('woff2'),
  url('../fonts/TTFirsNeue-Medium.woff') format('woff'),
  url('../fonts/TTFirsNeue-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TTFirsNeue-Thin';
  src: url('../fonts/TTFirsNeue-Thin.eot');
  src: local('TT Firs Neue Thin'), local('TTFirsNeue-Thin'),
  url('../fonts/TTFirsNeue-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTFirsNeue-Thin.woff2') format('woff2'),
  url('../fonts/TTFirsNeue-Thin.woff') format('woff'),
  url('../fonts/TTFirsNeue-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'TTFirsNeue-Black';
  src: url('../fonts/TTFirsNeue-Black.eot');
  src: local('TT Firs Neue Black'), local('TTFirsNeue-Black'),
  url('../fonts/TTFirsNeue-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTFirsNeue-Black.woff2') format('woff2'),
  url('../fonts/TTFirsNeue-Black.woff') format('woff'),
  url('../fonts/TTFirsNeue-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'TTFirsNeue-Italic';
  src: url('../fonts/TTFirsNeue-Italic.eot');
  src: local('TT Firs Neue Italic'), local('TTFirsNeue-Italic'),
  url('../fonts/TTFirsNeue-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTFirsNeue-Italic.woff2') format('woff2'),
  url('../fonts/TTFirsNeue-Italic.woff') format('woff'),
  url('../fonts/TTFirsNeue-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
